.form-section {
    background-color: #6496E0;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid #000;
    width: 450px;
    height: 520px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-iteam {
    height: 556px;
    width: 400px;
}

.inner-iteam form {
    font-size: 17px;
}